.profile-screen{
    background-image: url(https://th.bing.com/th/id/OIP.2CSUVylq2sVx_uqtFl5nRQAAAA?pid=ImgDet&w=300&h=194&rs=1);
    height: 100%;
}
.candidate-detail{
    margin: 30px auto 30px auto;
}